<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Data</title>
</head>
<body>
    <h1>Student Details</h1>
    <table border = "2" id = "student-details-table">
        <tr>
            <th>Student Id</th>
            <th>Course Id</th>
            <th>Marks</th>
        </tr>
            {%- set ns = namespace(total=0) %}
            {% for i in data %}
            <tr>
                <td>{{i[0]|int}}</td>
                <td>{{i[1]|int}}</td>
                <td>{{i[2]|int}}</td>
                {% set ns.total = ns.total + i[2]|int -%}
            </tr>
            {% endfor %}
        <tr>
        <td colspan = "2" style="text-align:center"> Total Marks </td>
        <td>{{ns.total}}</td>
        </tr>
    </table><br>
    <a href="/">Go Back</a>
</body>
</html>