<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
</head>
<body>
    <h1>Add a Student</h1>
    <form action="/add/student" method="POST">
        <label for="roll">Roll Number</label>
        <input type="text" name="roll" id="roll" required><br><br>
        <label for="fname">First Name</label>
        <input type="text" name="fname" id="fname" required><br><br>
        <label for="lname">Last Name</label>
        <input type="text" name="lname" id="lname"><br><br>
        <input type="submit" name="" id="">
    </form>
</body>
</html>