<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Students list</h1>
    {% if students %}
    <table id = "all-students" border="2" cellpadding="8px">
        <tr>
            <th>SNo</th>
            <th>Roll Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>s_no_1</td>
            <td><a href="/student/<int:student_id>">roll_number_1</a></td>
            <td>first_name_1</td>
            <td>last_name_1</td>
            <td>
                <a href="/student/<int:student_id>/update">Update</a>
                <a href="/student/<int:student_id>/delete">Delete</a>
            </td>
        </tr>
    </table>
    {% else %}
    <p>No student found. Add the students now!</p>
    {% endif %}
    <a href="/add/student"><button>Add Student</button></a>
</html>